.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  height: 100vh; /* Optional: Full viewport height */
}


pre {
  background-color: #6eade4; /* Light gray background */
  border: 1px solid #062948; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 15px; /* Spacing inside the pre element */
  margin: 20px 175px; /* Spacing outside the pre element */
  font-size: 1em; /* Font size */
  font-family: 'Courier New', Courier, monospace; /* Font type */
  overflow-x: auto; /* Horizontal scrolling for overflow content */
  white-space: pre-wrap; /* Ensures long lines wrap */
  word-break: break-all; /* Breaks long words */
  width: 75%; /* Width set to 75% of the parent container */
  max-width: 75%; /* Maximum width set to 75% to maintain responsiveness */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

ul {
  list-style-type: disc; /* or some other style */
  margin: 0 auto; /* Centering the list */
  padding: 0; /* Resetting default padding */
  width: 50%; /* Just as an example */
}

